# Environment variables and secrets
.env
*.env

# Python virtual environment & cache
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite Database & Storage
*.db
exports/pdf/
*.pdf

# IDE & OS files
.vscode/
.idea/
.DS_Store
